@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', Arial, 'Helvetica Neue', sans-serif;
}

body {
    font-size: 16px;
    background: #F8F8FF;
    padding: 10px;
}


.content-box {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #d4d4d480;
    box-shadow: 3px -3px 10px #d4d4d490;
}

.header {
    text-align: center;
    color: #263238;
    background-color: #f9dc3a;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 50px;
}

button,
.btn {
    background-color: #f9dc3a;
    color: #263238;
    padding: 8px 30px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

form {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}

input {
    margin: 20px auto;
    padding: 8px 15px;
    border: 1.75px solid #f9dc3a;
    width: 400px;
    height: 25px;
    border-radius: 3px;
    display: block;
}

label {
    display: none;
    margin: auto;
}

.center-btn {
    text-align: center;
}

.auth-info {
    text-align: center;
    margin-top: 32px;
}

a {
    color: #263238;
    font-weight: 600;
}